/** general layout */
body {
  position: relative; }
  body * {
    padding: 0; }

.container {
  margin: 0;
  padding: 0px;
  width: 100%; }

/** header */
.header-strip {
  background-color: #ffcc66;
  border: 7px solid #e08906;
  width: 100%;
  height: 70px;
  z-index: 3; }
  .header-strip ul {
    text-align: center; }
    .header-strip ul li {
      height: 56px;
      display: inline-block; }
      .header-strip ul li a {
        height: 56px;
        font-size: 25px; }
      .header-strip ul li.top-button {
        visibility: hidden;
        position: relative;
        bottom: 3px; }
        .header-strip ul li.top-button a {
          padding: 5px 5px; }
        .header-strip ul li.top-button img {
          height: 45px;
          width: 45px; }

.header-filler {
  display: none;
  height: 70px; }

@media (max-width: 600px) {
  .header-strip ul li a {
    width: 90px;
    padding: 10px 0px; }
  .header-strip ul li.top-button {
    display: none; } }
/** footer */
.footer {
  margin-top: 10px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  margin-bottom: 5px; }
  .footer small {
    float: right;
    padding-right: 20px; }
  .footer a {
    float: left;
    padding-left: 20px; }
  .footer * {
    font-size: 10px; }

/* each section i.e. about, contact, resume */
.section-spacing {
  position: relative;
  bottom: 70px; }

div.section {
  width: 85%;
  padding: 0px;
  margin: 0 auto; }
  div.section h1, div.section p, div.section h5 {
    position: relative;
    z-index: 1; }

/* resume */
.courses {
  margin-left: 20px; }
  .courses ul li {
    padding-left: 0px; }

.work-description ul {
  margin-left: 20px; }

.work-position, .leadership-position {
  font-style: italic; }

@media (min-width: 600px) {
  .leadership-description {
    width: 80%; } }
.extracurricular-org {
  font-weight: bold; }

/* PROJECTS */
.mobile-project {
  display: none; }

#carousel-container {
  width: 100%;
  margin: 0 auto;
  background-image: url("images/sky.jpg"); }
  #carousel-container .carousel-inner {
    height: 475px; }
    #carousel-container .carousel-inner .item {
      height: 400px; }
      #carousel-container .carousel-inner .item a img.project-picture {
        height: 380px;
        max-width: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
      @media (max-width: 900px) {
        #carousel-container .carousel-inner .item a img.project-picture {
          height: 285px; } }
      @media (max-width: 550px) {
        #carousel-container .carousel-inner .item a img.project-picture {
          height: 237.5px; } }
    #carousel-container .carousel-inner .carousel-caption {
      color: white;
      bottom: -30px; }
      #carousel-container .carousel-inner .carousel-caption .carousel-caption-description {
        top: 50px;
        font-weight: 400; }
      #carousel-container .carousel-inner .carousel-caption .carousel-caption-title {
        top: 50px;
        font-weight: 500; }

.carousel-indicators {
  border-radius: 20px;
  width: 50%;
  margin-left: -25%;
  bottom: 0px; }
.animation-div {
  overflow: hidden;
  position: relative;
  height: 400px;
  width: 100%;
  /* cookie runner */
  /* name animation */
  /* my pic */ }
  .animation-div svg:not(#runner) .eye {
    fill: white;
    stroke: black;
    stroke-width: 1; }
  .animation-div .hide {
    visibility: hidden; }
  .animation-div .hair {
    stroke: black;
    stroke-width: 1; }
  .animation-div #runner .leg {
    stroke: #000099;
    stroke-width: 3;
    fill: none; }
  .animation-div #runner .arm {
    stroke: black;
    stroke-width: 1;
    fill: none; }
  .animation-div #runner {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1; }
  .animation-div #cookie {
    position: absolute;
    width: 10px;
    height: 10px;
    z-index: 1; }
  .animation-div #fatbody {
    visibility: hidden; }
  .animation-div .animation-name {
    border-radius: 20px;
    background-color: beige;
    color: red;
    font-size: 55px;
    font-family: 'Sigmar One', cursive;
    padding: 5px 10px;
    height: 70px;
    width: 555px;
    text-align: center; }
    .animation-div .animation-name #fullname {
      z-index: 1; }
  @media (max-width: 600px) {
    .animation-div .animation-name {
      width: 300px;
      height: 45px;
      font-size: 30px; } }
  .animation-div #lastname {
    z-index: 1; }
  .animation-div #firstname {
    z-index: 1; }
  .animation-div .my-picture-div {
    margin: 0 auto;
    position: relative;
    top: 135px;
    text-align: center; }
    .animation-div .my-picture-div #me-picture {
      height: 250px; }
    .animation-div .my-picture-div #me-picture-mobile {
      display: none; }
