/** general layout */
body {
    position: relative;

    * {
        padding: 0;
    }

    .main-content {
    }
}

.container {
    margin: 0;
    padding: 0px;
    width: 100%;
}

$header-height: 70px;
$border: 7px;
$inside-header: $header-height - 2*$border;
/** header */
.header-strip {
    background-color: #ffcc66;
    border: $border solid #e08906;
    
    width: 100%;
    height: $header-height;
    z-index: 3; //hide text as scrolling down

    ul {
        text-align: center;
        height: $inside-header;

        li{
            height: $inside-header; //header-height - 2*border
            display: inline-block;

            a{
                //height: $inside-header; //header-height - 2*border
                position: relative;
                bottom: 20px;
                height: 90px;
                width: 90px;
                padding: 0px 0px;
                margin: 0 15px;
                border: 5px solid green;
                border-radius: 50%;
                background-color: beige;

                &:hover{
                  background-color: white;

                  img{
                    height: 55px;
                  }
                }

                img {
                  height: 50px;
                  width: auto;
                  margin: 13px;
                  vertical-align: top;
                }
            }
        }

    }
}

.header-filler {
    display: none;
    height: $header-height;

}

//small screen condense buttons
@media (max-width: 650px){
    .header-strip ul li {
        a{
            width: 90px;
        }

        //hide home button
        &.top-button {
            display: none;
        }
    }
}

/** footer */
.footer {
    margin-top: 10px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    margin-bottom: 5px;

    small {
        float: right;
        padding-right: 20px;
    }
    
    a {
        float: left;
        padding-left: 20px;
    }

    * {
        font-size: 10px;
    }
}

@media (max-width: 650px){
  .footer { visibility: hidden; }
}

/* each section i.e. about, contact, resume */
.section-spacing{
    position: relative;
    bottom: $header-height;
}

div.section {
    width: 85%;
    padding: 0px;
    margin: 0 auto;

    h1, p, h5 {
        position: relative;
        z-index: 1;
    }
}


/* resume */

.courses {
    margin-left: 20px;

    ul li {
        padding-left: 0px;
    }

    span{
        font-size: 10px;
    }
}

.work-description{
    ul {
        margin-left: 20px;
    }
}

.work-position, .leadership-position {
    font-style: italic;
}

@media (min-width: 600px){
    .leadership-description {
        width: 80%;
    }
}

.extracurricular-org {
    font-weight: bold;
}

/* PROJECTS */
.mobile-project {
    display: none;
}

$carousel-height: 475px;
#carousel-container{
    width: 100%;
    margin: 0 auto;
    background-image: url("images/sky.jpg");
    .carousel-inner {
        height: $carousel-height;
        .item {
            height: 400px; 

            a img.project-picture{
                height: $carousel-height * .8;
                max-width: auto;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            @media( max-width: 900px ){
                a img.project-picture{
                    height: $carousel-height * .6;
                }
            }

            @media( max-width: 550px ){
                a img.project-picture{
                    height: $carousel-height * .5;
                }
            }
        }

        .carousel-caption {
            color: white;
            bottom: -30px;

            $offset:  50px;

            .carousel-caption-description{
                top: $offset;
                font-weight: 400;
            }
            .carousel-caption-title{
                top: $offset;
                font-weight: 500;
            }
        }
    }
}

.carousel-indicators {
    border-radius: 20px;
    width: 50%;
    margin-left: -25%;
    bottom: 0px;
}
