/** general layout */
body {
    position: relative;

    * {
        padding: 0;
    }

    .main-content {
    }
}

.container {
    margin: 0;
    padding: 0px;
    width: 100%;
}

$header-height: 70px;
$border: 7px;
$inside-header: $header-height - 2*$border;
/** header */
.header-strip {
    background-color: #ffcc66;
    border: $border solid #e08906;
    
    width: 100%;
    height: $header-height;
    z-index: 3; //hide text as scrolling down

    ul {
        text-align: center;

        li{
            a{
                height: $inside-header; //header-height - 2*border
                font-size: 25px;
            }
            height: $inside-header; //header-height - 2*border
            display: inline-block;

            &.top-button{
                display: none;
                position: relative;
                bottom: 3px; //to line up for somee reason

                a{
                    padding: 5px 5px;
                }

                img{
                    height: 45px;
                    width: 45px;
                }
            }
        }

    }
}

.header-filler {
    display: none;
    height: $header-height;

}

//small screen condense buttons
@media (max-width: 600px){
    .header-strip ul li {
        a{
            width: 90px;
            padding: 10px 0px;
        }

        //hide home button
        &.top-button {
            display: none;
        }
    }
}

/** footer */
.footer {
    margin-top: 10px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    margin-bottom: 5px;

    small {
        float: right;
        padding-right: 20px;
    }
    
    a {
        float: left;
        padding-left: 20px;
    }

    * {
        font-size: 10px;
    }
}

/* each section i.e. about, contact, resume */
.section-spacing{
    position: relative;
    bottom: $header-height;
}

div.section {
    width: 85%;
    padding: 0px;
    margin: 0 auto;

    h1, p {
        position: relative;
        z-index: 1;
    }
}

$carousel-height: 475px;
#carousel-container{
    width: 90%;
    margin: 0 auto;
    .carousel-inner {
        height: $carousel-height;
        .item {
            height: 400px; 
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .carousel-caption {
            color: black;
            bottom: -30px;
        }
    }
}

.carousel-indicators {
    background-color: #cccccc;
    border-radius: 20px;
    width: 50%;
    margin-left: -25%;
}

.carousel-caption-description{
   /* font-size: 15px;
    color: #333333;
    background-color: white;
    border-radius: 15px;
    */
}


/* resume */

.courses {
    margin-left: 20px;

    ul li {
        padding-left: 0px;
    }
}

.work-description{
    ul {
        margin-left: 20px;
    }
}

.work-position, .leadership-position {
    font-style: italic;
}

@media (min-width: 600px){
    .leadership-description {
        width: 80%;
    }
}

.extracurricular-org {
    font-weight: bold;
}
